# Backend Configuration
PORT=3001
NODE_ENV=development
JWT_SECRET=gFNtDQ5uNM1katdRAUQsOC3zWww16r0PbzKtxUGogDE=
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:5173
DATA_DIR=./backend/data

# Frontend Configuration
VITE_API_URL=http://localhost:3001
